# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
.venv/
.env/
.denv/
*.env

# IDE / editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Media / large files
uploads/
outputs/
*.avi
*.mp4
*.json

# Docker
*.pid
*.tar
